.default-form-template *{box-sizing: border-box;}
.default-form-template .fs-9 {font-size: 0.82rem!important;}
.default-form-template .d-flex .col-auto:nth-child(1){width: 37.5%;}
.default-form-template .d-flex .col-auto:nth-child(2){width: 14.2%;}
.default-form-template .d-flex .col-auto:nth-child(3){width: 15%;}
.default-form-template .d-flex .col-auto:nth-child(4){width: 13.8%;}
.default-form-template .btn-primary, .btn-geolocation{background-color: white !important;border-color: white !important;color: #009b77 !important;}
.default-form-template button[type="submit"]{padding: 6% 16%;}
.default-form-template .color-white{color: white !important;}
.default-form-template .autoComplete_wrapper{display: flex!important;}
.default-form-template .autoComplete_wrapper>input{background-color: white;border-radius: 0;}
.default-form-template .form-control:focus{border-color: transparent !important;box-shadow: none;}
.default-form-template #label-range{padding-left: 20%!important;}
.default-form-template {visibility: visible !important;}
.default-form-template input[type=range]::-webkit-slider-thumb {-webkit-appearance: none !important;height: 18px !important;width: 18px !important;background: white !important;box-shadow:none !important; border:none !important; border-radius: 100% !important;}
.default-form-template input[type=range]::-moz-range-thumb {-webkit-appearance: none !important;height: 18px !important;width: 18px !important;background: white !important;box-shadow:none !important; border:none !important; border-radius: 100% !important;}
.default-form-template input[type=range]::-ms-thumb {-webkit-appearance: none !important;height: 18px !important;width: 18px !important;background: white !important;box-shadow:none !important; border:none !important; border-radius: 100% !important;}
.default-form-template input[type=range]{-webkit-appearance: none !important;}
.default-form-template input[type=range]:focus {outline: none !important;}
.default-form-template input[type=range]{background: white !important;height: 4px !important;}
#nouislider {height: 5px;border: none;box-shadow: none;}
#nouislider .noUi-handle:after, .noUi-handle:before{display:none}
#nouislider  .noUi-handle{border: none;box-shadow: none;border-radius: 100%;height: 18px !important;width: 18px !important;}
#nouislider .noUi-tooltip:after{content: '';display : inline-block;height : 0;width : 0;border-top: 10px solid white;border-right: 6px solid transparent;border-left: 6px solid transparent;position: absolute;bottom: -10px;left: calc( 50% - 3px );}
#nouislider.noUi-horizontal .noUi-tooltip{bottom: 200%;}
#nouislider .noUi-marker{visibility:hidden}
#nouislider .noUi-marker-large{display:none}
#nouislider .noUi-pips{padding: 0}
#nouislider .noUi-value{color:white}
#nouislider .noUi-touch-area{cursor: pointer;}

@media (max-width: 800px) {#nouislider{margin-top: 1rem!important;}.default-form-template form {width: 100% !important;flex-direction: column; align-items: center;}.default-form-template .d-flex > .col-auto {width: 100% !important;display: block !important; padding: 0 !important;}.default-form-template button[type="submit"]{width: 100% !important;border-radius: 5px;padding: 12px 0px; margin-top: 15px;}.default-form-template .d-flex #label-range{ padding: 0 !important;}}